[defaults]
hash_behaviour = merge
inventory      = ./inventory
library        = /usr/share/my_modules/
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 5
poll_interval  = 15
sudo_user      = root
transport      = smart
remote_port    = 22
module_lang    = C

# For Ansible Powerplay 1.x, you'll want to have this in place.
force_color = 1

gathering = smart
roles_path = roles:~/etc/ansible/roles:roles
host_key_checking = False
sudo_exe = sudo
timeout = 60
log_path = /tmp/ansible.log
executable = /bin/sh
hash_behaviour = merge
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
display_skipped_hosts = True
system_warnings = True
command_warnings = True
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins
fact_caching = memory

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30 
